<div class="card flex justify-content-center">
  <p-card [header]="data().name" [subheader]="data().id" [style]="{ width: '360px'}"
    [style.view-transition-name]=" 'card' + data().id">
    <ng-template pTemplate="header">
      @if(data().image?.url){
      <img alt="Card" src="{{data().image?.url}}" style=" width: 360px; height: 200px; object-fit: contain;" />
      }@else {
      <img alt="Card" ngSrc="/assets/imgs/no-image.png" />
      }
    </ng-template>
    <p>
      {{ data().description }}
    </p>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button label="Detalle" class="w-full" styleClass="w-full" (click)="openDetail(data().id)" />
      </div>
    </ng-template>
  </p-card>
</div>
