main{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(113, 113, 122, 0.4);

  article{
    min-height: 100dvh;
    display: grid;
    place-content: center;

    img{
      width: 150px;
      height: auto;
    }
  }
}
